.add_user {
  display: flex;
  align-items: center;
  padding: 8px;
  background: none;
  border: none;
  color: #4a90e2;
  font-size: 12px;
  font-weight: bold;
  gap: 5px;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
  background-color: #222222;
  width: 100%;
  .icon_add {
    color: #4a90e2;
    font-size: 18px;
    transition: transform 0.2s ease;
  }

  &:hover {
    color: #357abd;
    cursor: pointer;
  }

  &:hover .icon_add {
    transform: translateX(2px);
  }

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
