$logo_gradient: linear-gradient(to right, #69c06c, #e29c23);

.logo {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;

  background: $logo_gradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
