.clientInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.details {
  display: flex;
  flex-direction: column;
}

.name {
  font-weight: bold;
  color: #fff;
  transition: color 0.3s ease;

  &:hover {
    color: #e29c23;
  }
}

.email {
  font-size: 0.9em;
  color: #dadada;
}
