$border-color: #2e2e32;
$bg-color: #292929;
$text-color: #dadada;
$icon-color: #2e2e32;
$focus-border-color: #a1a1a1;
$box-shadow-color: rgba(154, 154, 154, 0.25);

.searchbar_container {
  display: flex;
  justify-content: baseline;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 7px 0;
  padding-left: 9px;
  background-color: $bg-color;
  border: 0.5px solid $border-color;
  border-radius: 4px;
  gap: 5px;
  box-shadow: 1px 1px 1.1px $box-shadow-color;
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover,
  &:focus-within {
    border-color: $focus-border-color;
    box-shadow: 0px 0px 8px rgba(161, 161, 161, 0.5);
    cursor: text;
  }

  .icon {
    color: $icon-color;
    font-size: 14px;
    transition: color 0.3s ease;
  }

  .search_input {
    background-color: transparent;
    border: none;
    color: $text-color;
    width: 100%;
    font-size: 14px;
    transition: color 0.3s ease;

    &:focus,
    &:active {
      outline: none;
      color: lighten($text-color, 20%);
    }
  }
}
