.dropdown {
  position: relative;
  display: inline-block;
  border-color: #2e2e32;
}

.dropdownToggle {
  background-color: #26262A;
  color: #828282;
  padding: 10px;
  border: 1px solid #2e2e32;
  cursor: pointer;
  border-radius: 4px;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #26262A;
  box-shadow: 0 8px 16px #2e2e32;
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #2e2e32;
}

.dropdownItem {
  padding: 10px;
  cursor: pointer;
  border-color: #2e2e32;
}

.dropdownItem:hover {
  background-color: #E29C23;
}

.icon {
  margin-left: 5px;
  color: #dadada;
  transition: transform 0.3s ease;
}

.rotate {
  transform: rotate(180deg);
}