.calendar {
  display: flex;
  flex-direction: column;
}

.calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nav_button {
  background-color: transparent;
  border: none;
  color: #48484e;
  cursor: pointer;
  font-size: 18px;
  transition: transform 0.3s ease;

  &:hover,
  &:focus {
    outline: none;
    color: #e29c23;
  }
}

.month_year {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.calendar_days_container {
  position: relative;
  overflow: hidden;
}

.calendar_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.slide-out-left {
    transform: translateX(-100%);
    opacity: 0;
  }

  &.slide-out-right {
    transform: translateX(100%);
    opacity: 0;
  }

  &.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
  }

  &.slide-in-right {
    transform: translateX(100%);
    opacity: 0;
  }

  &.slide-in-active {
    transform: translateX(0);
    opacity: 1;
  }
}

.calendar_day {
  background-color: #26262a;
  color: #fff;
  border: 0.5px solid #2e2e32;
  border-radius: 2px;
  padding: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;

  &:hover,
  &:focus {
    border: 0.5px solid #e29c23;
    border-radius: 2px;
    outline: none;
  }
}
