.icon_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: #2e2e32;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;

  *:hover {
    color: lighten(#2e2e32, 10%);
  }
}
