$color_light_gray: #dadada;
$color_exit: #e67070;
$hover_bg_color: rgba(217, 217, 217, 0.2);

@mixin action_base($color) {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 400;
  color: $color;
  width: 96%;
  padding: 4px 5px;
  border-radius: 4px;
  padding-right: 0;

  &:hover {
    background-color: $hover_bg_color;
    cursor: pointer;
  }
}

.user_actions {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.action {
  @include action_base($color_light_gray);
}

.action_exit {
  @include action_base($color_exit);
}

.icon {
  font-size: 16px;
}
