$logo_gradient: linear-gradient(to right, #69c06c, #e29c23);

.logo {
  display: inline-block;

  font-weight: 700;
  font-size: 24px;

  background: $logo_gradient;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
