.dropdown_custom {
  position: relative;
  width: 50px;
  background-color: #26262a;
  border: 1px solid #2e2e32;
  border-radius: 4px;
  cursor: pointer;

  & .dropdown_header {
    padding: 6px;
    color: #dadada;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown_list {
    position: absolute;
    top: 100%;
    left: -1px;
    width: 100%;
    background-color: #26262a;
    border: 1px solid #2e2e32;
    border-radius: 0 0 4px 4px;
    max-height: 150px;
    z-index: 100;
    overflow-y: auto;
  }

  & .dropdown_item {
    padding: 8px;
    color: #dadada;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: #1f1f23;
    }
  }

  & .arrow_down,
  & .arrow_up {
    margin-left: 5px;
    transition: transform 0.3s ease;
  }

  & .arrow_up {
    transform: rotate(180deg);
  }

  .icon_arrow {
    color: #48484e;
    margin-top: 4px;
  }
}
