.product_search_dropdown {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selected_products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search_input {
  width: 100%;
  padding: 8px;
  border: 0.5px solid #2e2e32;
  background-color: #26262a;
  color: #fff;
  border-radius: 4px;
  transition:
    border-color 0.3s ease,
    background-color 0.3s ease;

  &:focus {
    outline: none;
    border: 1px solid #e29c23;
    background-color: #1f1f23;
  }
}

.search_input_active {
  border-radius: 4px 4px 0 0;
}

@keyframes widget_store_open {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    max-height: 0;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    max-height: 300px;
  }
}

@keyframes widget_store_close {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
    max-height: 300px;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    max-height: 0;
  }
}

.dropdown {
  width: calc(100% + 16px);
  background-color: #26262a;
  border: 0.5px solid #2e2e32;
  border-left: 1px solid #e29c23;
  border-right: 1px solid #e29c23;
  border-bottom: 1px solid #e29c23;
  border-radius: 0 0 4px 4px;
  z-index: 800;
  max-height: 300px;
  overflow-y: auto;
  margin-top: -1px;
  overflow: hidden;

  &.closing {
    animation: widget_store_close 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  &.opening {
    animation: widget_store_open 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }
}

.product_item {
  width: 100%;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    background-color: #26262a;
  }
}

.no_results {
  padding: 8px;
  text-align: center;
  color: #aaa;
}

.product_preview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #26262a;
  border-radius: 8px;
  border: 0.5px solid #2e2e32;
  width: calc(100% + 16px);

  &:focus {
    outline: none;
  }
}

@keyframes slide-in {
  0% {
    transform: translateX(-20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fade_in {
  animation: fade-in 0.5s ease forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 8px;
}

.quantity_selector {
  border: 0.5px solid #2e2e32;
  background-color: #26262a;
  color: #dadada;
  padding: 4px;
  transition: 0.3s;
  border-radius: 4px;
  cursor: pointer;

  &:focus,
  &:hover {
    outline: none;
    border: 1px solid #e29c23;
  }
}

.dropdown_option:hover {
  background-color: #3e3e8b;
}

.reset_button {
  background: none;
  border: none;
  color: #48484e;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition:
    color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    color: #e29c23;
  }
}

.add_product_button {
  display: flex;
  align-items: center;
  padding: 8px;
  background: none;
  border: none;
  color: #4a90e2;
  font-size: 12px;
  font-weight: bold;
  gap: 5px;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
  width: 100%;
  .icon_add {
    color: #4a90e2;
    font-size: 18px;
    transition: transform 0.2s ease;
  }

  &:hover {
    color: #357abd;
    cursor: pointer;
  }

  &:hover .icon_add {
    transform: translateX(2px);
  }

  &:focus {
    outline: none;
    text-decoration: underline;
  }
}
