.title {
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    text-decoration: underline;
}

.general_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.localization_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.currency_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.wrapper {
    max-height: 100vh;
    overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
    width: 8px;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: #E29C23;
    border-radius: 4px;
}

.wrapper::-webkit-scrollbar-track {
    background-color: #828282;
    border-radius: 4px;
}

.notifications_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}