.body_bg_index {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #232327;
    color: #e2e2e2;
}

.title_test {
    color: #ffc559;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

.title {
    color:#ffc559;
}

nav {
    background-color: #1a1a1d;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
}

nav a {
    color: #f4f7f6;
    margin: 0 20px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    text-decoration: none;
    position: relative;
    padding-bottom: 5px;
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffc559;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav a:hover {
    color: #ffc559;
}

nav a:hover::after {
    width: 100%;
}

h1 {
    color: #1a1a1d;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 15px 0;
    font-size: 1.1rem;
}

li strong {
    color: #1a1a1d;
}

section {
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.contributors_container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.contributor {
    text-align: center;
    max-width: 250px;
}

.contributor img {
    border-radius: 50%;
    margin-bottom: 15px;
}

.contributor h3 {
    font-size: 1.2rem;
    color: #1a1a1d;
}

.contributor p {
    font-size: 1rem;
    color: #666;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a1d;
    color: #f4f7f6;
    margin-top: 40px;
}

footer a {
    color: #ffc559;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.contributor_name {
    color: #ffc559!important;
}