@keyframes smooth_fade_in {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes smooth_fade_out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.edit_form {
  display: flex;
  flex-direction: column;
  background: #1a1a1a;
  padding: 16px;
  border-radius: 8px;
  width: 100%;
  animation: smooth_fade_in 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  transition: background 0.3s ease;

  h3 {
    color: #dadada;
    font-size: 14px;
    padding: 0;
    margin: 0;
  }
  p {
    color: #cacaca;
    font-size: 12px;
  }
}

.edit_form_closing {
  animation: smooth_fade_out 0.4s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.edit_input {
  background: #1d1d1d;
  border: 1px solid #828282;
  border-radius: 6px;
  padding: 10px;
  color: #fff;
  transition:
    border-color 0.3s ease,
    background 0.3s ease;

  &:focus {
    border-color: #e29c23;
    outline: none;
    background: #2c2c2c;
  }

  &:hover {
    border-color: #e29c23;
  }
}

.action_buttons {
  display: flex;
  gap: 12px;
  padding: 20px 20% 0 20%;
  align-items: center;
  justify-content: space-between;
}

.save_button,
.cancel_button {
  background: none;
  border: none;
  color: #e29c23;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition:
    color 0.3s ease,
    transform 0.2s ease;

  &:hover {
    color: #fff;
    transform: translateY(-2px);
  }
}
