.topbar_with_underline {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.create_invoice_bar_container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 20px;
  margin: 0 15px;

  height: 20px;
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;

  &.appear {
    opacity: 1;
    transform: translateY(0);
  }
}

.left_container,
.right_container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.create_invoice_text {
  font-weight: bold;
  color: #dadada;
  font-size: 12px;
  transition: color 0.3s ease;

  &:hover {
    color: #ffffff;
  }
}

.close_icon {
  color: #c73838;
  font-size: 14px;
  transition:
    color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    color: #ff4f4f;
    transform: scale(1.2);
    cursor: pointer;
  }
}
