.navbar_container {
    background-color: #1D1D1D;
    border: 0.5px solid #E29C23;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.444vh 3.902vw;
    gap: 5.754vw;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    margin-top: 5.601vh;
}

.navbar_container *:hover {
    cursor: pointer;
}

.unactive {
    stroke: #FFF;
}

.active {
    stroke: #E29C23;
}