.navbarContainer {
    background-color: #333; 
    padding: 1rem;
}

.navbar {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.navList {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    margin: 0 2.5vw; 
}

.navButton {
    background-color: transparent;
    border: none;
    color: white;
    display: flex;
    align-items: center; 
    cursor: pointer;
    transition: color 0.3s ease;
}

.navButton:hover {
    color: #FFD700; 
}

.icon {
    width: 1.058vw; 
    height: 1.629vh; 
    color: #4B5C51;
}

.navText {
    color: #B8B8B8;
    margin-left: 0.5vw;
    font-size: 1rem; 
}

.icon_dollar {
    margin-left: 5.225vw;
    margin-top: 2.749vh;
}

.icon_people {
    margin-left: 5.225vw; 
    margin-top: 1.629vh;
}

.icon_report {
    margin-left: 6.151vw; 
    margin-top: 1.629vh;
}

.fullWidthLine {
    width: 100vw;             
    height: 2px;              
    background-color: #4B5C51; 
    position: relative;       
    margin-top: 1vh;
}