
.navbar {
    display: flex;
    flex-direction: column;
}

.nav_list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 2.579vh 2.579vw 0 0;
    padding-left: 2.646vw;
}

.nav_item {
    margin: 0 0.331vw;
    gap: 0.265vw;
}

.nav_button {
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease;
    border-radius: 100vh;
    border: 0.102vh solid transparent;
    padding-right: 1.124vw;
    padding-left: 1.124vw;
}

.nav_button:hover {
    background-color: #292929;
    border-radius: 100vh;
    border: 0.102vh solid #575757;
}

.active {
    background-color: #292929;
    border-radius: 100vh;
    border: 0.102vh solid #575757;
}

.icon {
    color: #4B5C51;
    height: 100%;
    font-size: 1.833vh;
}

.nav_text {
    color: #B8B8B8;
    margin-left: 0.5vw;
}

.line {
    width: 100vw;
    height: 0.051vh;
    background-color: #828282;
    margin-top: 1.018vh;
}