.import_existing_invoices_container {
  display: flex;
  gap: 5px;
  font-size: 12px;
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.appear {
    opacity: 1;
    transform: translateY(0);
  }
}

.import_existing_invoices_text {
  color: #828282;
  transition: color 0.3s ease;
}

.click_here_text {
  text-decoration: underline;
  color: #e29c23;
  transition:
    color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    cursor: pointer;
    color: #e7a93e;
    transform: scale(1.05);
  }
}
