$color-border: #2e2e32;
$color-background: #26262a;
$color-hover-icon: #48484e;
$color-active-icon: #e29c23;
$color-text: #cacaca;
$padding-horizontal: 10px;
$transition-duration: 0.4s;
$transition-ease: ease;

.navbar_button {
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 $padding-horizontal;
  cursor: pointer;
  transition:
    background-color $transition-duration $transition-ease,
    transform $transition-duration $transition-ease,
    border-color $transition-duration $transition-ease;
  background-color: transparent;
  border: 1px solid transparent;

  &:hover {
    background-color: $color-background;
    border-color: $color-border;
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
  }
}

.active {
  border: 1px solid $color-border;
  background-color: $color-background;

  .icon {
    color: $color-active-icon;
    transition: none;
  }

  &:hover .icon {
    color: $color-active-icon;
  }
}

.icon {
  margin: 3px 8px 0 9px;
  color: $color-hover-icon;
  font-size: 16px;
  transition: color $transition-duration $transition-ease;

  .navbar_button:not(.active):hover & {
    color: $color-hover-icon;
  }
}

.text {
  font-size: 12px;
  color: $color-text;
  padding-right: 15px;
  transition: color $transition-duration $transition-ease;

  .navbar_button:hover & {
    color: #dadada;
  }
}
