.topbar_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 2vw;
  margin-bottom: 0;
  padding-bottom: 0;
}

.topbar_left_pannel,
.topbar_middle_pannel,
.topbar_right_pannel {
  display: flex;
  align-items: center;
}

.topbar_left_pannel {
  padding-left: 1.257vw;
}

.topbar_right_pannel {
  padding-left: 1.124vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1vw;
}

.topbar_text {
  width: 4.365vw;
  height: 2.342vh;
  font-weight: bold;
  font-size: 4.101vw 1.731vh;
  background: -webkit-linear-gradient(45deg, #69c06c 0%, #e29c23 95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.topbar_user {
  color: #9f9f9f;
  margin-top: 2.342vh;
  font-size: 4.034vw 1.12vh;
}

.topbar_arrow {
  size: 0.611vh 0.661vw;
  color: #9f9f9f;
  margin-left: 0.5vw;
}

.topbar_middle_pannel {
  flex: 1;
  display: flex;
  justify-content: center;
}

.topbar_search_container {
  width: 20.833vw;
  display: flex;
  align-items: center;
  background-color: #292929;
  border: 0.066vw solid #828282;
  border-radius: 0.661vw;
  padding: 0.5vw;
}

.topbar_search_container:hover {
  border-color: #e29c23;
}

.topbar_search_icon {
  size: 0.926vw;
  color: #828282;
  margin-right: 0.5vw;
}

.topbar_search {
  color: #d9d9d9;
  background-color: #292929;
  font-size: 0.792vw;
  font-size: 1.222vh;
  outline: none;
  border: none;
}

.topbar_search ::placeholder {
  color: #828282;
}

.topbar_notification,
.topbar_settings {
  size: 1.222vw;
  color: #828282;
}

.topbar_button {
  background-color: #e29c23;
  color: #000000;
  border: 0.066vw solid #684811;
  width: 6.614vw;
  height: 2.444vh;
  border-radius: 100vh;
  outline: none;
  font-size: 1.222vh;
}

.topbar_button:hover {
  background-color: #d18f1a;
}

.topbar_vertical_line {
  width: 0.066vw;
  height: 2.138vh;
  background-color: #6f6f6f;
  margin: 0 1vw;
}

.topbar_vertical_line_left {
  width: 0.066vw;
  height: 2.138vh;
  background-color: #6f6f6f;
  margin: 0 1vw;
}
