.popup_backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(34, 34, 34, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.3s ease-out;

  &.fadeOut {
    opacity: 0;
  }
}

.popup_container {
  background-color: #1d1d1d;
  border: 1px solid #5a5a5a;
  color: #dadada;
  padding: 25px;
  border-radius: 10px;
  width: 75vw;
  height: 70vh;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;

  &.hidden {
    opacity: 0;
    transform: translateY(-20px);
  }

  &.visible {
    opacity: 1;
    transform: translateY(0);
  }

  &.slideOut {
    opacity: 0;
    transform: translateY(-20px);
  }

  .close_icon {
    position: absolute;
    top: 15px;
    right: 20px;
    color: #ff5c5c;
    font-size: 26px;
    transition:
      color 0.3s ease,
      transform 0.3s ease;

    &:hover {
      cursor: pointer;
      color: #ff7f7f;
      transform: scale(1.1);
    }
  }

  .popup_main_container {
    flex-grow: 1;
    display: flex;
    margin-top: 40px;
  }

  .settings_navbar {
    width: 144px;
    margin-right: 23px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: flex-start;

    button {
      display: flex;
      align-items: center;
      gap: 11px;
      width: 100%;
      padding: 6px 10px;
      background-color: #292929;
      border: 0.5px solid transparent;
      border-radius: 4px;
      color: #dadada;
      transition:
        background-color 0.2s ease,
        color 0.2s ease,
        transform 0.2s ease;

      &:hover {
        cursor: pointer;
        background-color: #3a3a3a;
        color: #ffffff;
        transform: translateX(5px);
      }

      svg {
        font-size: 14px;
        transition:
          transform 0.2s ease,
          color 0.2s ease;
      }

      &:hover svg {
        transform: scale(1.2);
        color: #ffffff;
      }
    }

    .active_nav_item {
      border-color: #e29c23;
      background-color: #393939;
      transform: translateX(5px);
    }
  }

  .settings_content {
    margin-left: 50px;
    flex-grow: 1;
    opacity: 0;
    transform: translateY(10px);
    transition:
      opacity 0.4s ease,
      transform 0.4s ease;

    &.content_visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .separator_line {
    width: 100%;
    height: 1px;
    background-color: #5a5a5a;
    opacity: 1;
  }
}
