.create_invoice_button {
  background-color: #e29c23;
  font-size: 12px;
  border: 1px solid #684811;
  border-radius: 100px;
  padding: 4px 14px;
  white-space: nowrap;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    transform 0.3s ease;

  &:hover {
    background-color: #f0b429;
    border-color: #7a5b20;
    transform: translateY(-2px);
    cursor: pointer;
  }

  &:active {
    transform: translateY(1px);
  }

  &:focus {
    outline: none;
  }
}
