.avatar {
  width: 40px;
  height: 40px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
}

.image {
  border-radius: 50%;
}

.placeholder {
  font-size: 0.9em;
  color: #888;
}
