.currency_selector {
  position: relative;
  width: calc(100% + 16px);
  background-color: #1a1a1a;
  border: 1px solid #828282;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  color: #fff;
  transition: background-color 0.3s ease;
  margin-bottom: 35px;
}

.currency_selector:hover {
  cursor: pointer;
}

.selected_currency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  border-radius: 4px;
  width: 100%;
  border: none;
  background-color: transparent;
  color: #dadada;
  &:hover {
    cursor: pointer;
    background-color: #2a2a2a;
  }
}

.currency_code {
  font-weight: bold;
  margin-left: 10px;
  font-size: 12px;
}

.currency_name {
  font-size: 12px;
  color: #aaa;
  margin-left: 8px;
}

.flag {
  width: 20px;
  height: 15px;
}

.arrow_icon {
  font-size: 16px;
  color: #e29c23;
  margin-left: auto;
  transition: transform 0.3s ease;
  margin-right: -4px;
  padding-top: 3px;
}

.currency_list {
  position: absolute;
  top: calc(100%);
  left: 0;
  width: 100%;
  background-color: #1a1a1a;
  border: 1px solid #828282;
  border-radius: 4px;
  z-index: 10;
  padding: 0;
  list-style: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition:
    max-height 0.5s ease,
    opacity 0.5s ease;
}

.show {
  opacity: 1;
  max-height: 500px;
}

.hide {
  opacity: 0;
  max-height: 0;
}

.currency_item {
  display: flex;
  align-items: center;
  padding: 8px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #dadada;
  opacity: 0;
  transform: translateY(20px);
}

.currency_item:hover {
  background-color: #2a2a2a;
}

.currency_item:hover .currency_code {
  color: #e29c23;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

$currency-count: 9;
@for $i from 1 through $currency-count {
  .show .currency_item:nth-child(#{$i}) {
    animation: slideIn 0.4s ease forwards;
    animation-delay: #{0.1 + ($i * 0.05)}s;
  }

  .hide .currency_item:nth-child(#{$i}) {
    animation: slideOut 0.3s ease forwards;
    animation-delay: #{0.1 + ($i * 0.05)}s;
  }
}

.currency_item:not(:last-child) {
  border-bottom: 1px solid #333;
}
