.container {
  display: flex;
  flex-direction: column;
  background-color: #26262a;
  height: 95%;
  margin-top: 20px;
  border-radius: 24px;
  color: #dadada;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 25px;
}

.preview_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  margin-bottom: 20px;
}

.preview_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  gap: 15px;
  height: 100%;
}

.preview_title {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.button_group {
  display: flex;
  gap: 20px;
}

.format_button {
  display: flex;
  gap: 10px;
  border-radius: 1000px;
  border: 1px solid transparent;
  background-color: transparent;
  color: #dadada;
  padding: 5px 10px;

  .icon {
    font-size: 16px;
    color: #696969;
  }

  &:hover {
    cursor: pointer;
  }
}

.format_button.active {
  background-color: #1f1f23;
  border-color: #2e2e32;
}

.download_button {
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  background-color: #e29c23;
  color: #1f1f23;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  transition: all 0.2s ease;
}

.download_button:hover {
  opacity: 0.9;
}

.icon {
  font-size: 1rem;
}
