@keyframes widget_store_open {
  0% {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    max-height: 0;
  }
  100% {
    opacity: 1;
    transform: scaleY(1);
    max-height: 300px;
  }
}

@keyframes widget_store_close {
  0% {
    opacity: 1;
    transform: scaleY(1);
    transform-origin: top;
    max-height: 300px;
  }
  100% {
    opacity: 0;
    transform: scaleY(0);
    max-height: 0;
  }
}

.client_widget {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  background: #1a1a1a;
  border: 0.5px solid #828282;
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;
  transition:
    background 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
  transform-origin: top;
  opacity: 1;
  transform: scaleY(1);

  &.closing {
    animation: widget_store_close 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  &.opening {
    animation: widget_store_open 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  }

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

.view_mode {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
