.calendar {
  display: flex;
  flex-direction: column;
}

.calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.nav_button {
  background-color: transparent;
  border: none;
  color: #e29c23;
  cursor: pointer;
  font-size: 14px;
  transition: transform 0.3s ease;
}

.nav_button:hover {
  transform: scale(1.1);
}

.month_year {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.calendar_days_container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.calendar_days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  opacity: 1;
  transform: translateX(0);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &.slide-out-left {
    transform: translateX(-100%);
    opacity: 0;
  }

  &.slide-out-right {
    transform: translateX(100%);
    opacity: 0;
  }

  &.slide-in-left {
    transform: translateX(-100%);
    opacity: 0;
  }

  &.slide-in-right {
    transform: translateX(100%);
    opacity: 0;
  }

  &.slide-in-active {
    transform: translateX(0);
    opacity: 1;
  }
}

.calendar_day {
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #828282;
  border-radius: 2px;
  padding: 6px;
  cursor: pointer;
  text-align: center;
  font-size: 10px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.calendar_day:hover {
  background-color: #e29c23;
  transform: scale(1.05);
}
