.date_form_selector {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
  font-size: 14px;
}

.label {
  color: #e29c23;
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 14px;
  transition: color 0.3s ease;
}

.custom_date_input {
  position: relative;
  background-color: #26262a;
  border: 0.5px solid #2e2e32;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #888888;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease;
}

.selected {
  color: #fff !important;
}

.unselected {
  font-size: 14px !important;
}

.custom_date_input:hover {
  border-color: #e29c23;
}

.date_input {
  background: none;
  border: none;
  outline: none;
  color: inherit;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
}

.warning_input {
  border-color: #e23c23;
}

.calendar_icon {
  font-size: 16px;
  color: #48484e;
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.calendar_popup {
  position: absolute;
  top: calc(100% + 8px);
  left: 25%;
  background-color: #1f1f23;
  border: 0.5px solid #2e2e32;
  border-radius: 4px;
  z-index: 10;
  padding: 8px;
  display: flex;
  flex-direction: column;
  width: 50%;
  opacity: 0;
  transform: scale(0.95);
  visibility: hidden;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    visibility 0s 0.3s;

  &.fade-in {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s 0s;
  }

  &.fade-out {
    opacity: 0;
    transform: scale(0.95);
    visibility: visible;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      visibility 0s 0.3s;
  }
}

.warning_message {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(226, 156, 35, 0.1);
  border: 1px solid #e29c23;
  padding: 0 8px;
  margin: 0;
  width: 100%;
  border-radius: 4px;
  color: #e29c23;

  margin-top: 8px;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInUp 0.3s ease forwards;

  p {
    font-size: 13px;
  }
}

.icon_calendar_warning {
  font-size: 16px;
  color: #dadada;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
