$button_color: #9f9f9f;
$hover_color: #dadada;
$default_font_size: 14px;
$font_weight: 500;
$transition-duration: 0.3s;

@mixin flex-center {
  display: flex;
  align-items: center;
}

@mixin button-styles($color, $size) {
  color: $color;
  font-size: $size;
  font-weight: $font_weight;
}

.dropdown_button {
  @include flex-center;
  justify-content: space-between;
  border: none;
  background: none;
  cursor: pointer;
  gap: 6px;

  .button_text {
    @include button-styles($button_color, $default_font_size);
  }

  .button_icon {
    @include flex-center;
    color: $button_color;
    font-size: 16px;
    transition: transform $transition-duration ease;
  }

  &:hover {
    .button_text,
    .button_icon {
      color: $hover_color;
    }
  }

  &.active {
    .button_text,
    .button_icon {
      color: $hover_color;
    }
  }
}

.rotated {
  transform: rotate(180deg);
  transition: transform $transition-duration ease;
}
