.invoice_template {
  background-color: #1f1f23;
  border-radius: 16px;
  color: #dadada;
  height: 100%;
  margin-bottom: 35px;
  padding: 35px 35px;
  font-family: 'SF Pro Display', sans-serif;
}

.invoice_header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}

.invoice_title h2 {
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  margin: 0;
}

.separator_line {
  border: none;
  border-top: 0.5px solid #2e2e32;
  width: 100%;
}

.invoice_details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.invoice_line {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
}

.info_line {
  h3 {
    font-weight: 400;
    font-size: 10px;
    color: #828282;
  }

  p {
    font-weight: 400;
    font-size: 10px;
    color: #dadada;
  }
}

.items_table {
  margin-top: 35px;
  width: 100%;
  border-collapse: collapse;
}

.items_table thead {
  background-color: #26262a;
}

.items_table thead th:first-child {
  border-radius: 4px 0 0 4px;
}

.items_table thead th:last-child {
  border-radius: 0 4px 4px 0;
}

.column {
  font-weight: 400;
  font-size: 10px;
  color: #828282;
}

.items_table th,
.items_table td {
  padding: 0.5rem;
  text-align: left;
}

.description_column {
  width: 40%;
}

.qty_column {
  width: 15%;
}

.unit_price_column {
  width: 35%;
}

.total_column {
  width: 10%;
  text-align: right !important;
}

tbody {
  tr {
    font-size: 10px;
    color: #ffffff;
  }

  .qty_column,
  .unit_price_column,
  .total_column {
    padding-left: 2.5%;
  }
}

.totals {
  display: flex;
  width: 100%;
  align-items: end;
  margin-top: 50px;
}

.totals_content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 25px;
  align-items: center;
}

.totals_row,
.totals_row_values {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #dadada;
  font-size: 10px;
  font-weight: 500;
  gap: 10px;
}

.subtotal_text {
  color: #828282;
  font-size: 10px;
}

.totals_row_values {
  color: #ffffff;
  font-size: 9px;
}
